################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GroupProject/CS162 Group.vcxproj.filters
/GroupProject/CS162 Group.vcxproj
/GroupProject/CS162 Group.VC.db
/GroupProject/CS162 Group.sln
/GroupProject/CS162 Group.sdf
/GroupProject/.vs/CS162 Group/v14/.suo
*.opendb
